* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    }
body {
    background-image: linear-gradient(90deg, rgb(44, 209, 44), rgb(252, 252, 108));
}

.title {
    font-family: Tilt Prism;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

.img-title {
    width: 2.5em;
    margin-left: 1%;
}
h2 {
    display: flex;
    justify-content: center;
    padding: 1%;
}
.adicionandoJogador, .removendoJogador {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30%;
    padding-top: 2%;
}

#btnAdicionar, #btnRemover {
    margin-top: 5%;
    border-radius: 6px;    
    cursor: pointer;
    transition: 0.3s;

}

#btnAdicionar:hover {
    background-color: rgb(44, 185, 44);
    color: rgba(255, 255, 255, 0.952);
    font-size: 15px;
}

#btnRemover:hover {
    background-color: rgb(236, 52, 52);
    color:rgba(255, 255, 255, 0.952);
    font-size: 15px;
}

#teamList {
    margin-left: 45%;
    text-decoration: none;
    font-size: 16px;
}






